<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bear.wanandroidbyjava">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".WanApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/WanTheme">
        <activity
            android:name=".Module.Welcome.WelcomeAct"
            android:theme="@style/WanTheme.Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Module.Main.MainAct"
            android:theme="@style/WanTheme" />
        <activity
            android:name=".Module.Web.WebAct"
            android:theme="@style/WanTheme" />
        <activity
            android:name=".Module.Search.SearchAct"
            android:theme="@style/WanTheme" />
        <activity
            android:name=".Module.Square.SquareAct"
            android:theme="@style/WanTheme" />
        <activity
            android:name=".Module.Login.LoginRegisterAct"
            android:theme="@style/WanTheme" />
    </application>

</manifest>